body {
  background-color: #FC4155; 
  overflow-y: hidden;
  overflow-x: hidden;
  text-align: center;
  }

table, th {
  height: 100%;
  width: 100%;
}

td.intro {
  width: 50%;
}

td.key {
  width: 50%;
}

.keyimg {
  width: 100%;
  height: auto;
}
  
.logo {
  height: 83px;
  width: 227px;
}

.intro {
  color: #FFF;
  font-family: 'Avenir';
  font-size: 13px;
  font-weight: 30;
}

.subscribe {
  color: #FFF;
  font-family: 'Avenir';
  font-size: 25px;
  font-weight: 300;
}

.container {
  border-radius: 50px;
  background-color: #FFF;
  font-family: Avenir;
  min-width: auto;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
}
  
 .click { 
  border-radius: 50px;
  font-family: Avenir;
  font-size: 15px;
  background-color: #FC4155;
  border: solid #FC4155;
  color: #FFF;
}

.promise {
  color: #FFF;
  font-family: 'Avenir';
}

@media screen and (max-width: 600px){
  .keyimg {
      display: none;
  }

  td.key {
    display: none;
  }

  table {
    border-collapse: collapse;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
  }
}